<template>
	<section>
    <editar-recurso />
		<crear-recurso />
		<v-card>
			<v-card-text>
				<crud-table
					:headers="headers"
          :url="url"
          :filters="filters"
          :data-graphql="dataGraphql"
					:graphql="graphql"
				>
					<template slot="buttons">
            <v-tooltip bottom>
             <v-btn color="primary" dark
               @click.native.stop="crearRecurso()"
               slot="activator"
             ><v-icon dark>add</v-icon> {{$t('common.add') }}</v-btn>
             <span>{{$t('rol.add')}}</span>
           </v-tooltip>
          </template>

					<template slot="items" slot-scope="items">
            <td>{{ items.item.descripcion }}</td>
						<td>{{ items.item.padre ? items.item.padre.descripcion : 'NO TIENE' }}</td>
						<td>{{ items.item.nivel }}</td>
						<td>{{ items.item.ruta }}</td>
						<td
							:title="items.item.icono"
						>
							<v-icon>{{ items.item.icono }}</v-icon>
						</td>
            <td title="Activar/Desactivar recurso">
              <v-switch
                value
                :input-value="items.item.id_estado === '1' ? true : false"
                @change="cambiarEstado(items.item)"
              ></v-switch>
            </td>
            <td class="nowrap">
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editarRecurso(items.item)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
            </td>
          </template>

				</crud-table>
			</v-card-text>
		</v-card>
	</section>
</template>

<script>
import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import CrearRecurso from '../dialogs/CrearRecurso';
import EditarRecurso from '../dialogs/EditarRecurso.vue';

export default {
	mixins: [crud],
	data () {
		return {
			url: 'recursos',
			graphql: true,
			headers: [
        { text: this.$t('rol.crud.description'), value: 'descripcion', align: 'center' },
				{ text: 'Recurso Padre', value: 'id_padre', align: 'center' },
				{ text: 'Nivel', value: 'nivel', align: 'center' },
				{ text: 'Ruta', value: 'ruta', align: 'center' },
				{ text: 'Icono', value: 'icono', align: 'center' },
				{ text: 'Estado', value: 'id_estado', align: 'center' },
        { text: this.$t('common.actions'), sortable: false, align: 'center' }
      ],
			dataGraphql: `
        id
        descripcion
        id_estado
				icono
				ruta
				nivel
				id_padre
				padre{
					descripcion
				}
				estado{
					descripcion
				}
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
			filters: []
		}
	},
  mounted () {
    this.$bus.$on('closeDialog', () => {
      this.updateList()
    })
  },
	methods: {
		crearRecurso () {
			this.$bus.$emit('openDialogCrearRecurso')
		},
    editarRecurso (item) {
      this.$bus.$emit('openDialogEditarRecurso', item)
    },
		async cambiarEstado (item) {
      let value = item.id_estado === '20' ? 1 : 20
      let data = {
        id_estado: value
      }
      try {
        await this.$service.graphql({
          query: `
            mutation edit($id: ID!, $recurso: EditRecurso!) {
              recursoEdit(id: $id, recurso: $recurso) {
                id
              }
            }
          `,
          variables: {
            id: item.id,
            recurso: data
          }
        })
        if (value === 1) {
          this.$message.success('Recurso habilitado')
        } else {
          this.$message.warning('Recurso deshabilitado')
        }
        this.updateList()
      } catch (error) {
        console.log(error)
      }
    }
	},
	components: {
		CrudTable,
		CrearRecurso,
    EditarRecurso
	}
}
</script>

<style>

</style>