<template>
  <section>
    <crear-actualizar-rol />
    <ver-asignar-recursos />
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphql"
        >
          <template slot="buttons">
            <v-tooltip bottom>
             <v-btn color="primary" dark
               @click.native.stop="crearActualizarRol({})"
               slot="activator"
             ><v-icon dark>add</v-icon> {{$t('common.add') }}</v-btn>
             <span>{{$t('rol.add')}}</span>
           </v-tooltip>
          </template>

          <template slot="items" slot-scope="items">
            <td>{{ items.item.descripcion }}</td>
            <td title="Activar/Desactivar rol">
              <v-switch
                value
                :input-value="items.item.id_estado === '1' ? true : false"
                @change="cambiarEstado(items.item)"
              ></v-switch>
            </td>
            <td class="nowrap">
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  @click.native="crearActualizarRol(items.item)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn
                  icon
                  colot="info"
                  slot="activator"
                  @click.native="verAsignarRecursos(items.item)">
                  <v-icon>list</v-icon>
                </v-btn>
                <span>Ver/Asignar recursos</span>
              </v-tooltip>
            </td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import CrearActualizarRol from '../dialogs/CrearActualizarRol.vue';
import VerAsignarRecursos from '../dialogs/VerAsignarRecursos.vue';

export default {
  mixins: [ crud, validate, logDatos ],
  data () {
    return {
      logDatos: null,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'roles',
      headers: [
        { text: this.$t('rol.crud.description'), value: 'descripcion', align: 'center', sortable: false },
        { text: 'Estado', value: 'id_estado', align: 'center', sortable: false },
        { text: this.$t('common.actions'), sortable: false, align: 'center' }
      ],
      form: {
        nombre: '',
        path: '',
        descripcion: ''
      },
      dataGraphql: `
        id
        descripcion
        id_estado
        recursos{
          id
          descripcion
          icono
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [],
      valid: true
    };
  },
  methods: {
    crearActualizarRol (item) {
      this.$bus.$emit('openDialogCrearActualizarRol', item)
    },
    verAsignarRecursos (item) {
      this.$bus.$emit('openDialogVerAsignarRecursos', item)
    },
    async cambiarEstado (item) {
      let value = item.id_estado === '20' ? 1 : 20
      let data = {
        id_estado: value
      }
      try {
        await this.$service.graphql({
          query: `
            mutation edit($id: ID!, $rol: EditRol!) {
              rolEdit(id: $id, rol: $rol) {
                id
              }
            }
          `,
          variables: {
            id: item.id,
            rol: data
          }
        })
        if (value === 1) {
          this.$message.success('Rol habilitado')
        } else {
          this.$message.warning('Rol deshabilitado')
        }
        this.updateList()
      } catch (error) {
        console.log(error)
      }

    }
  },
  components: {
    CrudTable,
    LogDatos,
    CrearActualizarRol,
    VerAsignarRecursos
  }
};
</script>
