$primary: #1E5976;
$secondary: #D9E6EC;
$info: #007078;
$warning: #ffb822;
$error: #f4516c;
$success: #34bfa3;

$color: darken(#898b96, 10%); // Text color
$fontFamily: 'Titillium Web'; // font family
$bgSidenav: #2c2e3e;
