<template>
  <section>
    <editar-usuario />
		<h3 class="primary--text"><v-icon info>group</v-icon>Usuarios</h3>
		<v-card>
			<v-card-text>
				<crud-table
					:headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphql"
          :widthModal="840"
				>

          <template slot="items" slot-scope="items">
            <td>{{ items.item.nombre_usuario }}</td>
            <td>{{ items.item.personas.length > 0 ? `${items.item.personas[0].nombres} ${items.item.personas[0].ap_paterno} ${items.item.personas[0].ap_materno}` : 'Sin datos personales' }}</td>
            <td>{{ items.item.correo }}</td>
            <td>
              <ul>
                <li v-for="rol in items.item.roles" :key="rol.id">{{ rol.descripcion }}</li>
              </ul>
            </td>
            <td title="Activar/Desactivar usuario">
              <v-switch
                value
                :input-value="items.item.id_estado === '1' ? true : false"
                @change="cambiarEstado(items.item)"
              ></v-switch>
            </td>
            <td>
              <v-chip label color="success" text-color="white" v-if="items.item.id_estado === '1'">
                {{ items.item.estado.descripcion }}
              </v-chip>
              <v-chip label color="error" text-color="white" v-if="items.item.id_estado === '2'">
                {{ items.item.estado.descripcion }}
              </v-chip>
            </td>
            <td class="nowrap">
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  @click="editarUsuario(items.item)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
            </td>
          </template>

				</crud-table>
			</v-card-text>
		</v-card>
	</section>
</template>

<script>
import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import EditarUsuario from './dialogs/EditarUsuario.vue'

export default {
	mixins: [crud],
	mounted () {
		this.$bus.$on('closeDialog', () => {
			this.updateList();
		})
	},
	data () {
		return {
			graphql: true, // Definiendo el CRUD con Graphql
      url: 'usuarios',
      headers: [
        { text: this.$t('user.crud.user'), value: 'nombre_usuario', align: 'center' },
        { text: this.$t('user.crud.fullname'), value: 'nombre_completo', align: 'center' },
        { text: this.$t('user.crud.email'), value: 'correo', align: 'center' },
        { text: "Roles", value: 'roles' },
        { text: this.$t('common.active'), sortable: false, align: 'center' },
        { text: this.$t('user.crud.status'), value: 'id_estado', align: 'center' },
        { text: this.$t('common.actions'), sortable: false, align: 'center' }
      ],
      dataGraphql: `
        id
        ci
        nombre_usuario
        correo
        id_estado
        ultimo_login
        personas {
          ap_paterno
          ap_materno
          ap_casada
          nombres
        }
        estado {
          descripcion
        }
        roles {
          id
          descripcion
          id_estado
        }
      `,
      form: {
        usuario: '',
        contrasena: '',
        email: '',
        id_entidad: null,
        id_rol: null
      },
      filters: [
        {
          field: 'nombre_usuario',
          typeG: 'String',
          type: 'text',
          label: 'Nombre de usuario'
        },
        {
          field: 'correo',
          typeG: 'String',
          type: 'text',
          label: 'Correo electrónico'
        },
      ],
			valid: true,
      active: []
		}
	},
	methods: {
		editarUsuario (item) {
      let obj = item
			this.$bus.$emit('openDialogEditarUsuario', obj)
		},
    async cambiarEstado (item) {
      let value = item.id_estado === '2' ? 1 : 2
      let data = {
        id_estado: value
      }
      try {
        await this.$service.graphql({
          query: `
            mutation edit($id: ID!, $usuario: EditUsuario!) {
              usuarioEdit(id: $id, usuario: $usuario) {
                id
              }
            }
          `,
          variables: {
            id: item.id,
            usuario: data
          }
        })
        if (value === 1) {
          this.$message.success('Usuario habilitado')
        } else {
          this.$message.warning('Usuario deshabilitado')
        }
        this.updateList()
      } catch (error) {
        console.log(error)
      }

    }
	},
  components: {
    CrudTable,
    EditarUsuario
  }
};
</script>

<style>

</style>