<template>
	<section>
		<!-- Componentes externos -->
    <crear-actualizar-__Nombre__(kebabCase) />
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> __Nombre__(titleCase)s</h3>
		<v-card>
			<v-card-text>
				<crud-table
					:headers="headers"
          :url="url"
          :filters="filters"
          :data-graphql="dataGraphql"
					:graphql="graphql"
				>
					<!-- Template injectable de la cabecera de la tabla -->
					<template slot="buttons">
            <v-tooltip bottom>
             <v-btn color="primary" dark
               @click.native.stop="crearActualizar__Nombre__(pascalCase)({})"
               slot="activator"
             ><v-icon dark>add</v-icon> {{$t('common.add') }}</v-btn>
             <span>Agregar __Nombre__(sentenceCase)</span>
           </v-tooltip>
          </template>

					<!-- Template de filas y columnas -->
					<template slot="items" slot-scope="items">
						<!-- Agregar las columnas que consideré necesarias -->
            <!-- <td>{{ items.item.nombre }}</td> -->
            <td title="Activar/Desactivar __Nombre__">
              <v-switch
                value
                :input-value="items.item.id_estado === '1' ? true : false"
                @change="cambiarEstado(items.item)"
              ></v-switch>
            </td>
            <td class="nowrap">
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  @click.native="crearActualizar__Nombre__(pascalCase)(items.item)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
            </td>
          </template>

				</crud-table>
			</v-card-text>
		</v-card>
	</section>
</template>

<script>
import CrudTable from '@/common/util/crud-table/CrudTable.vue'; // Componente Tabla Dinámica
import crud from '@/common/util/crud-table/mixins/crud-table'; // Funciones y Metodos
import CrearActualizar__Nombre__(pascalCase) from './dialogs/CrearActualizar__Nombre__(pascalCase)' // Componente de creación y actualización

export default {
	// Importación de métodos y funciones de un archivo mixin 
	mixins: [crud],
	// Variables iniciales del componente
	data () {
		return {
			url: '__Nombre__(camelCase)s',
			graphql: true,
			// Cabecera de la tabla
			headers: [
        // { text: 'Nombre de la cabecera', value: 'Campo que deseamos interpolar', align: 'center' },
				{ text: 'Estado', value: 'id_estado', align: 'center' },
        { text: this.$t('common.actions'), sortable: false, align: 'center' }
      ],
			// Campos solicitados de Graphql(Agregar los que necesite)
			dataGraphql: `
        id
        id_estado

        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
			// Filtros del componente CrudTable ejemplo:
			// {
			// 	field: 'Campo definido en Graphql',
			// 	label: 'Etiqueta del input generado',
			// 	type: 'text', // Tipo de input en el filtro
			// 	typeG: 'String' // Tipo definido en Graphql
			// }
			filters: []
		}
	},
	// Funcionalidades que se ejecutan al montar el componente
  mounted () {
    // Verificando si el usuario tiene permiso para interactual con el componente
    const rolesPermitidos = [__Roles__] // ID's de roles permitidos
    if (!this.$util.permisoRol(rolesPermitidos)) {
      this.$router.push('/403')
    }

    this.$bus.$on('closeDialog', () => {
      this.updateList()
    })
  },
	// Métodos y funciones del componente
	methods: {
		crearActualizar__Nombre__(pascalCase) (item) {
			this.$bus.$emit('openDialogCrearActualizar__Nombre__(pascalCase)', item)
		},
		async cambiarEstado (item) {
      let value = item.id_estado === '20' ? 1 : 20
      let data = {
        id_estado: value
      }
      try {
        await this.$service.graphql({
          query: `
            mutation edit($id: ID!, $__Nombre__(snakeCase): Edit__Nombre__(pascalCase)!) {
              __Nombre__(camelCase)Edit(id: $id, __Nombre__(snakeCase): $__Nombre__(snakeCase)) {
                id
              }
            }
          `,
          variables: {
            id: item.id,
            __Nombre__(snakeCase): data
          }
        })
        if (value === 1) {
          this.$message.success('__Nombre__(titleCase) habilitado')
        } else {
          this.$message.warning('__Nombre__(titleCase) deshabilitado')
        }
        this.updateList()
      } catch (error) {
        console.log(error)
      }
    }
	},
	// Definición de componentes importados
	components: {
		CrudTable,
		CrearActualizar__Nombre__(pascalCase)
	}
}
</script>

<style>

</style>